# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
csharp_indent_braces = false

[*.{cs,vb}]
# Set _ALL_ rules:
dotnet_analyzer_diagnostic.severity = error

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Enforce block-scoped namespaces (block_scoped is the default)
csharp_style_namespace_declarations = block_scoped

# 'var' preferences (IDE0007 and IDE0008)
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true
dotnet_diagnostic.IDE0007.severity = warning

dotnet_diagnostic.CA1502.severity = warning

# Turn this into warning for now
dotnet_diagnostic.CA1865.severity = warning
