root = true

[*.{cs}]

# CA1823: Avoid unused private fields
dotnet_diagnostic.CA1823.severity = none

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

dotnet_analyzer_diagnostic.severity = none